---
layout: default
---

{% if site.projects.size == 0 %}
  <h2> No projects found</h2>
{% endif %}

<div class="projects">
  {% for post in site.projects %}
      <div class="project">
        <a href="{{ site.baseurl }}{{ post.url }}">
            <img src={{site.baseurl}}/images/projects/{{post.image}}>
        </a>

        <div class="description">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <h1>{{ post.title }}</h1>
          </a>

          <span class="date">
              {{ post.date | date: "%Y-%m-%d" }}
          </span>  
          
          <p class="excerpt">{{ post.excerpt }}</p>
        </div>
        
    </div>
  {% endfor %}
</div>
