---
layout: default
---

{% if site.posts.size == 0 %}
  <h2> No projects found</h2>
{% endif %}

<div class="projects">
  {% for post in site.posts %}
    {% if post.tags contains 'project' %}
      <div class="project" bground-color="blue">
        <a href="{{ site.baseurl }}{{ post.url }}">
            <img src={{site.baseurl}}/images/projects/{{post.image}} style="width:380px;height:256px;">
        </a>

        <a href="{{ site.baseurl }}{{ post.url }}">
            <h1>{{ post.title }}</h1>
        </a>

        <span class="date">
            {{ post.date | date: "%Y-%m-%d" }}
        </span>  
        
        <p class="description">{{ post.excerpt }}</p>
    </div>
    {% endif %}
  {% endfor %}
</div>
